.rutas {
  main {
    padding-top: 200px;

    .container {
      h2 {
        font-size: clamp(32px, 3vw, 50px);
        color: var(--gris-oscuro, #373737);
        line-height: clamp(32px, 3vw, 50px);
        font-style: normal;
        font-weight: 700;
        position: relative;
        max-width: 1600px;
        display: flex;
        margin: 30px auto;
        align-items: flex-end;
        gap: 20px;
        &::after {
          flex: 1;
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: var(--Rojo, #35498e);
          @media only screen and (max-width: 1023px) {
            content: none;
          }
        }
        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
        &::after {
          flex: 1;
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background-color: var(--Rojo, #35498e);
        }
      }
      h3 {
        grid-column: span 3;
        color: #35498e;
        margin-bottom: 8px;
        &::after {
          content: none;
        }
        @media only screen and (max-width: 1023px) {
          grid-column: span 1;
        }
      }
      .listRT {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 30px 20px;
        @media only screen and (max-width: 1024px) {
          grid-template-columns: repeat(1, 1fr);
          padding: 0 0 180px;
        }
        article {
          overflow: hidden;
          width: 100%;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 15px;
          .image {
            aspect-ratio: 16 / 9;
            overflow: hidden;
            width: 100%;
            img {
              width: 100%;
              object-fit: cover;
              transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
              aspect-ratio: 16 / 9;
            }
          }
          .desc {
            padding: 20px;
          }
          p {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 20px;
            text-align: justify;
          }
          h3 {
            color: #35498e;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
          }
          span.btn {
            background-color: #35498e;
            color: #fff;
            font-size: 14px;
            padding: 10px;
            transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            display: flex;
            margin: 0 0 0 auto;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            width: fit-content;
          }
          &:hover {
            .image {
              img {
                transform: scale(1.1);
              }
            }
            span.btn {
              background-color: darken($color: #35498e, $amount: 10);
            }
          }
        }
      }
    }
  }
}
