.eventsnew {
  :root {
    --marginelements: 20px;
    --arrowsize: 6px;
  }
  #menuBtnnew {
    display: none;
    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }

  background-color: #fff;

  main {
    background-color: #fff;
  }
  .banner {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    height: auto;
    justify-content: flex-end;
    min-height: 768px;
    overflow: hidden;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1023px) {
      background-attachment: scroll;
      background-position: center center;
      border-radius: 0;
      height: calc(100vw / 16 * 9);
    }
    img.bg {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
    .intro-txt {
      border-radius: 0;
      display: block;
      display: none;
      padding: 0 30px;
      width: 100%;
      @media screen and (max-width: 1023px) {
        display: block;
      }
      p {
        color: #fff;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: center;
      }
    }
    aside.filters {
      background: #fff;
      box-shadow: 20px 20px 60px #00000008, -20px -20px 60px #000000;
      display: flex;
      flex-direction: column;
      max-width: 768px;
      transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      border-radius: 15px;
      padding: 30px;
      width: 100%;
      z-index: 40;
      @media only screen and (max-width: 768px) {
        padding: 80px 20px;
      }
      h2 {
        font-size: 2rem;
        color: #333;
        margin: 30px auto;
        text-align: center;
        @media only screen and (max-width: 1024px) {
          font-size: 2rem;
          color: #333;
          max-width: 100%;
          margin: 0 auto 30px;
        }
      }
      .filterGroups {
        display: flex;
        flex-direction: column;
        .filtergroup {
          flex: 1;
          color: #333333;
          margin-bottom: 30px;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          @media only screen and (max-width: 1024px) {
            margin: 0;
            max-height: 100%;
          }
          .content {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            @media only screen and (max-width: 768px) {
              flex-wrap: nowrap;
              overflow: auto;
            }
          }
          .filtercheck {
            padding: 8px;
            cursor: pointer;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 1px solid #35498e;
            color: #35498e;
            border-radius: 5px;
            transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            &.active,
            &:hover {
              color: #fff;
              background-color: #35498e;
            }
            b {
              display: none;
            }
          }
          span {
            color: #333333;
            cursor: pointer;
            font-size: 1.7em;
            display: block;
            margin-bottom: 15px;
            .arrow {
              display: inline-block;
              width: 0;
              height: 0;
              border-left: var(--arrowsize) solid transparent;
              border-right: var(--arrowsize) solid transparent;
              border-top: var(--arrowsize) solid #333333;
              margin-right: 5px;
            }
          }
          .label {
            display: block;
            font-size: 1.3em;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  & main > .intro-txt {
    position: relative;
    width: 100%;
    z-index: 1;
    &::after {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 55px;
      left: -1px;
      position: absolute;
      width: 55px;
    }
    &::after {
      background-image: url(../img/curve_down_filters.svg);
      bottom: -55px;
    }
    p {
      color: #404040;
      font-size: 1.6rem;
      line-height: 3.2rem;
      margin: 0 auto;
      max-width: 720px;
      text-align: center;
    }
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  .agendaInfo {
    padding: 50px 20px;
    display: none;
    @media only screen and (max-width: 768px) {
      padding: 50px 20px 10px;
    }
    p {
      max-width: 830px;
      width: 100%;
      margin: 0 auto 15px;
      color: #333333;
      font-size: 18px;
      font-family: "MuseoSans-700";
      text-align: center;
      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .linksAgenda {
    display: grid;
    grid-template-columns: repeat(4, 216px);
    gap: 15px;
    justify-content: center;
    margin: 50px 0;
    @media only screen and (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      justify-content: center;
      margin: 50px 0;
    }
    li {
      width: 100%;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 216px;
          height: 216px;
          border-radius: 50%;
          overflow: hidden;
          object-fit: cover;
          margin-bottom: 10px;
          @media only screen and (max-width: 768px) {
            width: calc(100vw / 2 - 40px);
            height: calc(100vw / 2 - 40px);
          }
        }
        small {
          color: #333333;
          font-size: 15px;
          font-family: "MuseoSans-700";
          text-align: center;
          @media only screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .events_list {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    position: relative;
    padding: 80px 20px;
    justify-content: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1023px) {
      padding: 0 30px;
      display: grid;
      grid-template-columns: 1fr;
    }
    @media only screen and (max-width: 480px) {
      padding: 0;
    }
    .custom-select {
      margin: 0 auto 50px;
    }
    .select-items {
      position: absolute;
      background-color: #fff;
      border: 1px solid #c3c3c3;
      top: 120%;
      left: 0;
      right: 0;
      z-index: 99;
      border-radius: 15px;
      overflow: hidden;
      div:hover,
      .same-as-selected {
        background-color: #57758d;
        color: #fff;
      }
    }
    .select-selected {
      border: 1px solid #57758d;
      &::after {
        background-image: url(../img/arrow_custom_select.svg);
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        content: "";
        height: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
      }
      &.select-arrow-active {
        &::after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
    &_grid {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
      @media only screen and (max-width: 1024px) {
        grid-template-columns: calc(100vw - 40px);
      }
      &_item {
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 15px;
        cursor: pointer;
        .single_event {
          display: flex;
          @media only screen and (max-width: 1024px) {
            flex-direction: column;
          }
          .left {
            width: 100%;
            max-width: 470px;
            position: relative;
            @media only screen and (max-width: 1024px) {
              width: 100%;
              max-width: 100%;
            }
            .categoryTags {
              position: absolute;
              top: 20px;
              left: 20px;
              display: flex;
              gap: 10px;
              z-index: 10;
              li {
                background-color: #35498e;
                padding: 8px;
                font-size: 12px;
                color: #fff;
                border-radius: 8px;
              }
            }
            .image {
              height: 300px;
              overflow: hidden;
              border-radius: 15px;
              @media only screen and (max-width: 1024px) {
                border-radius: 15px 15px 0 0;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
              }
            }
            .dates {
              background-color: #35498e;
              padding: 5px 20px;
              border-radius: 8px;
              position: absolute;
              bottom: 20px;
              display: flex;
              left: 50%;
              color: #fff;
              font-size: 25px;
              font-weight: bold;
              gap: 10px;
              transform: translateX(-50%);
              @media only screen and (max-width: 1024px) {
                font-size: 16px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0;
              }
              time {
                color: #fff;
                font-size: 25px;
                font-weight: bold;
                @media only screen and (max-width: 1024px) {
                  font-size: 16px;
                }
              }
            }
          }
          .right {
            flex: 1;
            padding: 20px 80px 20px 20px;
            @media only screen and (max-width: 1024px) {
              padding: 20px;
            }
            h2 {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 15px;
              color: #35498e;
            }
            p {
              font-size: 16px;
              margin-bottom: 30px;
              @media only screen and (max-width: 1024px) {
                font-size: 14px;
              }
            }
            .readmore {
              align-items: center;
              background: var(--Rojo, #35498e);
              border: 1px solid #35498e;
              border-radius: 50px;
              color: #fff;
              display: flex;
              transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
              font-size: 17px;
              font-style: normal;
              font-weight: 700;
              justify-content: center;
              line-height: normal;
              padding: 10px 20px;
              width: fit-content;
              @media only screen and (max-width: 768px) {
                margin: 0 auto;
              }
              &:hover {
                background: #fff;
                color: #35498e;
              }
            }
          }
        }
        &:hover {
          .left {
            .image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
    button#moreItems {
      background-color: transparent;
      display: block;
      height: 50px;
      margin: 50px auto 0;
      grid-column: span 3;
      width: 50px;
      &:hover {
        opacity: 0.5;
      }
      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }
  }
  .articles_rel {
    background-color: #b8cdd1;
    margin-top: -100px;
    border-radius: 100px 0 0 100px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1023px) {
      border-radius: 40px 0 0 40px;
      margin-top: -40px;
      padding: 50px 0 80px;
    }
    &::after,
    &::before {
      content: "";
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 55px;
      position: absolute;
      height: 55px;
      right: -1px;
    }
    &::after {
      bottom: -55px;
      background-image: url(../img/curve_down_filters_color.svg);
      transform: scaleX(-1);
      @media screen and (max-width: 1023px) {
        left: inherit;
        right: -1px;
        transform: scaleX(-1);
      }
    }
    &::before {
      top: -55px;
      background-image: url(../img/curve_down_filters_color.svg);
      transform: scale(-1);
      @media screen and (max-width: 1023px) {
        left: inherit;
        right: -1px;
        transform: none;
        top: -53px;
      }
    }
  }
  .container_descubre {
    background: #fff;
    padding: 150px 0 100px;
    margin-top: -90px;
    border-radius: 0 0 100px 0;
    z-index: 1;
    position: relative;
    @media screen and (max-width: 1023px) {
      margin-top: -70px;
      border-radius: 0 0 40px 0;
      position: relative;
      padding: 150px 0 20px;
      &::after,
      &::before {
        content: "";
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 55px;
        position: absolute;
        height: 55px;
        left: -1px;
      }
      &::after {
        bottom: -55px;
        background-image: url(../img/curve_down_filters.svg);
      }
    }
    &::after {
      content: "";
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 55px;
      position: absolute;
      height: 55px;
      left: -1px;
    }
    &::after {
      bottom: -55px;
      background-image: url(../img/curve_down_filters.svg);
    }
  }
}

.aclaracion {
  background-color: #35498e;
  display: flex;
  align-items: center;
  margin: 50px 0;
  flex: 1;
  grid-column: span 2;
  justify-content: center;
  padding: 20px;
  p {
    max-width: 900px;
    font-size: 16px;
    font-family: "MuseoSans-500";
    color: #fff;
    text-align: center;
  }
}
