.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.hide {
  display: none !important;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
a {
  color: inherit;
}
body {
  font-family: "MuseoSans-500", sans-serif;
  font-weight: normal;
  min-height: 100vh;
  background-color: #fff;
  // overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  max-width: 1200px;
  width: 100%;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.bx-wrapper {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 0;
  max-width: 100%;
}

.replaced_text {
  display: block;
  text-indent: -9999px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #2060af,
    #2172bc,
    #2983c8,
    #3695d4,
    #46a6de
  );
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch.active .slider {
  background-image: linear-gradient(
    to right,
    #5bc490,
    #65c495,
    #6fc49a,
    #78c49e,
    #81c4a3
  );
}

.switch.active .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

a.btn.miceBtn {
  align-items: center;
  background-color: #dd4d22;
  border-radius: 25px;
  color: #fff;
  display: flex;
  font-family: "MuseoSans-700";
  font-size: 1.5rem;
  height: 40px;
  justify-content: center;
  margin: 20px auto 0;
  max-width: max-content;
  padding: 0 80px;
  position: relative;
  z-index: 2;
  &:hover {
    background-color: lighten($color: #dd4d22, $amount: 5);
  }
  @media screen and (max-width: 1023px) {
    background-color: #fff;
    color: #333;
    border-radius: 25px;
    font-size: 1.8rem;
  }
}

/*Column system based on %*/
.bigcolumn {
  box-sizing: border-box;
  float: left;
}
.w_5 {
  width: 5%;
}
.w_10 {
  width: 10%;
}
.w_15 {
  width: 15%;
}
.w_20 {
  width: 20%;
}
.w_25 {
  width: 25%;
}
.w_30 {
  width: 30%;
}
.w_33 {
  width: 33.333%;
}
.w_35 {
  width: 35%;
}
.w_40 {
  width: 40%;
}
.w_45 {
  width: 45%;
}
.w_50 {
  width: 50%;
}
.w_55 {
  width: 55%;
}
.w_60 {
  width: 60%;
}
.w_65 {
  width: 65%;
}
.w_70 {
  width: 70%;
}
.w_75 {
  width: 75%;
}
.w_80 {
  width: 80%;
}
.w_85 {
  width: 85%;
}
.w_90 {
  width: 90%;
}
.w_95 {
  width: 95%;
}
@media screen and (max-width: 1023px) {
  .m_outter {
    width: 100% !important;
  }
  .m_5 {
    width: 5% !important;
  }
  .m_10 {
    width: 10% !important;
  }
  .m_15 {
    width: 15% !important;
  }
  .m_20 {
    width: 20% !important;
  }
  .m_25 {
    width: 25% !important;
  }
  .m_30 {
    width: 30% !important;
  }
  .m_33 {
    width: 33.333% !important;
  }
  .m_35 {
    width: 35% !important;
  }
  .m_40 {
    width: 40% !important;
  }
  .m_45 {
    width: 45% !important;
  }
  .m_50 {
    width: 50% !important;
  }
  .m_55 {
    width: 55% !important;
  }
  .m_60 {
    width: 60% !important;
  }
  .m_65 {
    width: 65% !important;
  }
  .m_70 {
    width: 70% !important;
  }
  .m_75 {
    width: 75% !important;
  }
  .m_80 {
    width: 80% !important;
  }
  .m_85 {
    width: 85% !important;
  }
  .m_90 {
    width: 90% !important;
  }
  .m_95 {
    width: 95% !important;
  }
}
.outter {
  box-sizing: border-box;
  width: 100%;
}
.basic_background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ms100 {
  font-family: "MuseoSans-100";
}
.ms500 {
  font-family: "MuseoSans-500";
}
.ms700 {
  font-family: "MuseoSans-700";
}
.ms900 {
  font-family: "MuseoSans-900";
}

.ofertasRel {
  margin: 50px 0;
  .title {
    font-size: 4rem;
    color: #35498e;
    padding: 0;
    margin: 0 auto 30px;
    line-height: 4rem;
  }
  &-grid {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 30px 23px;
    grid-auto-rows: minmax(510px, 590px);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    @media only screen and (max-width: 1360px) {
      grid-template-columns: repeat(auto-fill, minmax(calc(100% - 20px), 1fr));
      padding: 60px 20px;
    }

    h2 {
      grid-column: 1/-1;
      font-size: 30px;
      text-align: center;
      color: #0f2c52;
    }

    &__item {
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 20px;
      background: var(--blanco, #fff);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      .discount {
        top: 20px;
        position: absolute;
        color: var(--blanco, #fff);
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        z-index: 2;
        span {
          border-left: 1px solid var(--blanco, #fff);
          color: var(--blanco, #fff);
          font-size: calc(30px - var(--fontSizeReal));
          font-style: normal;
          font-weight: 700;
          left: 80px;
          line-height: normal;
          padding: 0px 15px;
          position: absolute;
          top: 42%;
          transform: translateY(-50%);
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        }
        .prices {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          width: 100%;
          flex-direction: column;
          background: rgba(0, 0, 0, 0.6);
          padding: 20px;
          justify-content: center;
          align-items: center;
          p {
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          &-discount {
            text-decoration-line: line-through;
          }
        }
      }
      .info {
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px;
        & > strong {
          color: var(--gris-oscuro, #373737);
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: block;
          margin-bottom: 15px;
        }
        & > p {
          margin-bottom: 30px;
          color: var(--gris-oscuro, #373737);
          text-align: center;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media only screen and (max-width: 480px) {
            display: none;
          }
        }
        & > small {
          align-items: center;
          background: var(--Rojo, #35498e);
          border-radius: 50px;
          color: #fff;
          display: flex;
          font-size: 17px;
          font-style: normal;
          font-weight: 700;
          justify-content: center;
          line-height: normal;
          margin: 0 auto 15px;
          padding: 10px 20px;
          width: fit-content;
        }
      }
    }
    &__promo {
      -webkit-box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
      width: 100%;
      border-radius: 13px;
      overflow: hidden;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .txt {
          padding: 0 25px 0 50px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        strong {
          color: #fff;
          font-size: 44px;
          line-height: 53px;
          margin-bottom: 5px;
          font-family: "Arial";
          text-align: right;
          font-weight: 900;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
        }
        small {
          color: #fff;
          font-size: 25px;
          line-height: 30px;
          display: block;
          margin-bottom: 10px;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
        }
        .logo {
          padding: 0 25px;
          clip-path: polygon(0 0, 74% 0, 90% 100%, 0% 100%);
          background-color: #e53900;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: 70px;
          img {
            height: 50px;
            width: initial;
            object-fit: contain;
          }
        }
      }
    }
    &__big_promo {
      -webkit-box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 32px -8px rgba(0, 0, 0, 0.75);
      width: 100%;
      border-radius: 13px;
      overflow: hidden;
      position: relative;
      grid-column: span 2;

      @media only screen and (max-width: 1023px) {
        grid-column: span 1;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .txt {
          padding: 50px 50px 0;
        }

        strong {
          color: #fff;
          font-size: 44px;
          line-height: 53px;
          margin-bottom: 5px;
          font-family: "Arial";
          text-align: right;
          font-weight: 900;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
        }
        small {
          color: #fff;
          font-size: 25px;
          line-height: 30px;
          display: block;
          margin-bottom: 10px;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
        }
        .logo {
          padding: 0 50px;
          clip-path: polygon(0 0, 74% 0, 90% 100%, 0% 100%);
          background-color: #e53900;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: 70px;
          img {
            height: 50px;
            width: initial;
            object-fit: contain;
          }
        }
      }
    }
  }
}

a[target="_blank"] {
  position: relative;
  span {
    svg {
      position: absolute;
      top: -10px;
      right: -10px;
    }
  }
}
