.boxes {
  position: relative;
  border-radius: 15px;
  padding: 44px 60px;

  button#closebox {
    width: 25px;
    height: 25px;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;

    &:hover {
      opacity: 0.5;
    }
  }

  &-container {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 2.5rem;
      color: #5a80a5;
      font-family: "MuseoSans-700";
      margin-bottom: 30px;
    }

    p {
      line-height: 2.2rem;
      color: #4d4d4d;
      font-size: 1.4rem;
    }

    a.btn.boxBtn {
      background-image: linear-gradient(to right top,
          #d30613,
          #de2b13,
          #ea4114,
          #f55415,
          #ff6517);
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      color: #fff;
      margin-top: 30px;
      border-radius: 8px;
      font-size: 1.5rem;
      font-family: "MuseoSans-900";
    }

    form#blogSearch {
      width: 100%;

      label {
        color: #fff;
        display: block;
        margin: 10px 0;
        font-size: 1.7rem;
      }

      input[type="search"] {
        height: 40px;
        font-size: 1.6rem;
        background-color: #fff;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        position: relative;

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          background-image: url(../img/lupa_blue.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.fancybox-button.fancybox-close-small {
  display: none;
}

.blog {
  .fancybox-bg {
    background: #fff;
  }

  .boxes {
    padding: 30px 33px 150px;
    background-color: #46a6de;
    max-width: 436px;
    width: 100%;

    .select-items div,
    .select-selected {
      border-radius: 0;

      &:after {
        background-image: url(../img/arrow_up.svg);
        background-repeat: no-repeat;
        border: 0;
        height: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        width: 20px;
      }

      &.select-arrow-active {
        &::after {
          transform: translateY(-50%) rotate(0);
        }
      }
    }

    .select-items {
      max-height: 110px;
      overflow: auto;
    }

    #closebox {
      background-image: url(../img/curve_close_box.svg);
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 10px;
      width: 60px;
      height: 60px;
      top: 0;
      right: 0;

      img {
        width: 25px;
      }
    }
  }
}

.informacion_util {
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba($color: #000000, $alpha: 0.75);
  }

  .mCSB_inside>.mCSB_container {
    margin-right: 0;
  }

  .mCSB_scrollTools {
    right: -5px;
  }

  .boxes {
    &.util {
      padding: 0;
      max-width: 768px;
      width: 100%;
    }

    &.util_2 {
      padding: 0 20px 45px;
      max-width: 560px;
      width: 100%;
    }

    &-container {
      max-width: 100%;
      text-align: left;
      padding: 30px;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;


      .title_container {
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        img {
          height: 110%;
          object-fit: contain;
          position: absolute;
          top: -5px;

          &.boxes_left {
            left: -10px;
          }

          &.boxes_right {
            right: -12px;
          }
        }
      }

      h2.title {
        color: var(--gris-oscuro, #373737);
        font-size: calc(35px - var(--fontSizeReal));
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .desc {
        margin: 0 auto;
        max-width: 900px;
        padding: 0;

        img {
          height: calc(50vw / 19 * 6);
          margin: 0 auto 30px;
          object-fit: cover;
          width: 100%;
          padding: 0 30px;

          @media screen and (max-width: 1023px) {
            height: calc(80vw / 16 * 9);
          }
        }

        ul {
          padding-left: 25px;
        }

        li {
          display: list-item;
        }

        p,
        li {
          margin-bottom: 15px;
          color: #626262;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          /* 80% */
        }

        a {
          color: #35498e;
          font-size: 1.4rem;
          padding: 0 30px;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .apps-box {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: inline-flex;

          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            padding: 0;
            margin: 0 20px;
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}