@use 'sass:color';

.languages {
  font-size: 14px;
  max-width: 50px;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  &>li {
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      background-image: url(../../img/arrow_languages.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 20px;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }
  }

  li {
    color: var(--linkcolor);
    padding: 10px;
    position: relative;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    img {
      margin-right: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }

    a {
      color: var(--linkcolor);
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    ul {
      display: none;
      left: 0;
      margin-top: 1rem;
      min-width: 7.5rem;
      opacity: 0;
      position: absolute;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      background-color: #354999;
      visibility: hidden;
      z-index: 10;

      li {
        clear: both;
        width: 100%;
        display: flex;
        align-items: center;

        &:hover {

          background-color: color.adjust($color: #354999, $lightness: -15%);
        }
      }
    }
  }

  &.active li>ul {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 100%;
    margin: 0;
  }

  &.active>li::after {
    transform: rotate(-180deg) translateY(-50%);
    top: 0;
  }
}

.linksheader {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #35498f;

  a {
    color: #FFF;
    text-decoration: underline;

    &[target=_blank] span svg {
      position: absolute;
      top: 0;
      right: -20px;
    }

    &:hover {
      opacity: .5;
    }
  }
}

header {
  background-color: #354999;
  width: 100%;
  z-index: 40;
  position: relative;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  top: 22px;

  &.scroll {
    top: 0;

  }

  .headerLogo {
    object-fit: contain;
    width: 170px;

    @media only screen and (max-width: 1023px) {
      width: 110px;
    }
  }

  @media only screen and (min-width: 1024px) {
    position: fixed;

  }


  &::after {
    content: "";
    background-color: var(--linkcolor);
    width: 100vw;
    height: 1px;
    position: absolute;
    bottom: 69px;
    left: 0;

    @media only screen and (max-width: 1023px) {
      content: none;
    }
  }

  @media only screen and (max-width: 1023px) {
    .container {
      padding: 0;
    }
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;

    @media only screen and (max-width: 768px) {
      padding: 20px 0;
    }
  }



  svg {
    width: 150px;

    @media only screen and (max-width: 1023px) {
      width: 100%;
      height: 80px;
      margin: 0 auto;
      display: block;
    }
  }

  .logo {
    width: 100px;
  }

  nav {
    height: 100%;

    @media only screen and (max-width: 1023px) {
      display: none;
    }

    &>ul {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: 30px;

      &>li {
        padding: 25px 8px;
        color: var(--linkcolor);
      }

      li {
        align-items: center;
        color: var(--linkcolor);
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 100%;
        position: relative;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        z-index: 999;

        &:hover {
          text-decoration: underline;
          opacity: 0.8;
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 420px;
          padding: 8px;
          z-index: 999;
          background-color: #354999;

          li {
            margin: 12px 0;

            a {
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }

        &:hover>ul {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(50% - 10px);
          }
        }

        &.semanaSanta {
          background-color: #fff;

          a {
            color: rgb(38 55 114 / 100%);

          }
        }
      }
    }

    a {
      color: var(--linkcolor);
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      font-size: 16px;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
  }

  form {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    @media only screen and (max-width: 1023px) {
      position: absolute;
      top: 100%;
      transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
      left: 100vw;
      padding: 20px;

      &.active {
        left: 0;

        z-index: 2;
        background: #354999;
        width: 100%;
      }
    }

    img {
      display: inline-block;
      height: 20px;
      margin: 0;
      transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      pointer-events: none;
      object-fit: contain;
      width: 20px;

      @media screen and (max-width: 1023px) {
        pointer-events: all;
        margin: 0;
        width: 20px;
        height: 20px;
        left: 0;
      }
    }

    span {
      display: flex;
      align-items: center;
    }

    .op {
      transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      color: var(--linkcolor);

      svg {
        width: 20px;
      }
    }

    input[type="search"] {
      border-bottom: 1px solid var(--linkcolor);
      color: var(--linkcolor);
      font-size: 13px;
      padding: 8px 0;
      text-transform: uppercase;
      transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      width: 180px;

      &:focus {
        width: 200px;

        &+.op {
          opacity: 0;
        }
      }
    }

    label {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      margin-right: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  #formBtn {
    display: none;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 768px) {
      display: flex;
    }

    svg {
      color: #FFF;
      width: 30px;
      height: 30px;
    }
  }
}

#menuBtn {
  align-items: flex-end;
  background: transparent;
  display: none;
  width: 40px;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 1023px) {
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
  }

  span,
  small {
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }

  span {
    background-color: #fff;
    border-radius: 10px;
    display: block;
    height: 3px;
    margin: 2px 0;
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    &:nth-of-type(2) {
      width: 80%;
    }
  }

  small {
    color: #fff;
    display: block;
    font-size: 1.1rem;
    margin: 2px 0;
    width: 100%;
    text-align: right;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  &:hover {

    span,
    small {
      margin: 4px 0;
    }
  }
}

.exp.container {
  display: block;
  margin: 50px auto !important;

  h2 {
    color: var(--gris, #626262);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    position: relative;
    display: flex;
    margin-bottom: 60px;
    align-items: flex-end;
    gap: 20px;

    &::after {
      flex: 1;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--Rojo, #35498e);

      @media only screen and (max-width: 1023px) {
        content: none;
      }
    }

    @media only screen and (max-width: 1023px) {
      font-size: calc(30px - var(--fontSizeReal));
      line-height: 25px;
    }
  }

  .exp-content {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 16.9px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    padding: 30px;

    h3 {
      color: var(--gris-oscuro, #373737);
      font-size: 35px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 34px;
      line-height: normal;
    }

    .grid-experiencias {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, calc(33.333% - 30px));

      @media only screen and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fill, 100%);
      }

      li {
        width: 100%;
        height: 100%;

        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius: 20px;
          background: var(--blanco, #fff);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
          position: relative;

          .discount {
            top: 20px;
            position: absolute;
            color: var(--blanco, #fff);
            font-size: 35px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            z-index: 2;

            span {
              border-left: 1px solid var(--blanco, #fff);
              color: var(--blanco, #fff);
              font-size: calc(30px - var(--fontSizeReal));
              font-style: normal;
              font-weight: 700;
              left: 80px;
              line-height: normal;
              padding: 0px 15px;
              position: absolute;
              top: 42%;
              transform: translateY(-50%);
            }
          }

          .image {
            position: relative;
            overflow: hidden;
            height: 400px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
            }

            .prices {
              position: absolute;
              bottom: 0;
              left: 0;
              display: flex;
              width: 100%;
              flex-direction: column;
              background: rgba(0, 0, 0, 0.6);
              padding: 20px;
              justify-content: center;
              align-items: center;

              p {
                color: rgba(255, 255, 255, 0.8);
                text-align: center;
                font-size: calc(25px - 8px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &.prices-discount {
                  text-decoration-line: line-through;
                }
              }
            }
          }

          .info {
            flex: 1;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 30px;

            strong {
              color: var(--gris-oscuro, #373737);
              text-align: center;
              font-size: calc(35px - 8px);
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              display: block;
              margin-bottom: 15px;
            }

            p {
              margin-bottom: 30px;
              color: var(--gris-oscuro, #373737);
              text-align: center;
              font-size: calc(25px - 8px);
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            small {
              align-items: center;
              background: var(--Rojo, #35498e);
              border-radius: 50px;
              color: #fff;
              display: flex;
              font-size: calc(25px - 8px);
              font-style: normal;
              font-weight: 700;
              justify-content: center;
              line-height: normal;
              margin: 0 auto;
              padding: 10px 20px;
              width: fit-content;
            }
          }

          &:hover {
            .image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}